@{
    ViewBag.Title = "Tävlingsnamn";
    @Styles.Render("~/CssBundle/portfolio")
    @Styles.Render("~/CssBundle/market")
}


<div class="anchor-section" anchor-location="Overview" anchor-title="Översikt">

    @Html.Action("Overview", "Contest")

</div>

<div class="anchor-section" anchor-location="Portfolio" anchor-title="Min aktieportfölj">
    
    @Html.Action("Portfolio", "Contest")

</div>

<div class="anchor-section" anchor-location="Market" anchor-title="Marknaden">
    
    <div class="market-navigator">
        <div class="navigation-item" row-location="market-overview">
            <i class="fa fa-th-large fa-2x"></i>
        </div>
        <div class="navigation-item" row-location="market-search">
            <i class="fa fa-search fa-2x"></i>
        </div>
        <div class="navigation-item" row-location="market-share">
            <i class="fa fa-area-chart"></i>
        </div>

    </div>    
    

    @Html.Action("Market", "Contest")

</div>

<div class="anchor-section" anchor-location="Details" anchor-title="Tävlingsinformation">

    @Html.Action("Details", "Contest")

</div>


@Html.Action("ShareControl", "Master", new { name = "CreateCompetition" })

@Scripts.Render("~/bundles/anchor-routing")
@Scripts.Render("~/bundles/portfolio")
@Scripts.Render("~/bundles/market")