@{
    ViewBag.Title = "Tävlingsnamn";
    @Styles.Render("~/CssBundle/custody-account")

}


<div class="anchor-section" anchor-location="Overview" anchor-title="Översikt">

    @Html.Action("Overview", "Contest")

</div>

<div class="anchor-section" anchor-location="Portfolio" anchor-title="Min aktieportfölj">
    
    @Html.Action("Portfolio", "Contest")

</div>

<div class="anchor-section" anchor-location="Market" anchor-title="Marknaden">

    @Html.Action("Market", "Contest")

</div>

<div class="anchor-section" anchor-location="Details" anchor-title="Tävlingsinformation">

    @Html.Action("Details", "Contest")

</div>


@Scripts.Render("~/bundles/anchor-routing")
@Scripts.Render("~/bundles/custody-account")