@using System.Activities
@using Services
@model Services.ViewModels.UserViewModel

<div class="menu">

    <a href="@Url.Action("Index", "Home")">
        <img class="logotype" src="~/Content/Images/Gfx/logo.png" />
    </a>

    @if (LocationHelper.Location.Equals("Contest"))
    {
        <ul>
            <li><a href="#/Overview">Översikt</a></li>
            <li><a href="#/Announcements">Anslag</a></li>
            <li><a href="#/Portfolio">Portfölj</a></li>
            <li><a href="#/Market">Marknaden</a></li>
            <li><a href="#/Details">Tävling</a></li>
        </ul>
    }
    else if (LocationHelper.Location.Equals("Home"))
    {

        <ul>
            <li><a href="@Url.Action("About", "Home")">Om oss</a></li>
            <li><a href="">Faq</a></li>
        </ul>

    }
    else if (LocationHelper.Location.Equals("Start"))
    {
        @*<ul>
                <li><a href="@Url.Action("About", "Home")">Om oss</a></li>
                <li><a href="">Faq</a></li>
            </ul>*@
    }


    @if (LocationHelper.Location.Equals("Home") || LocationHelper.Location.Equals("Contest"))
    {
        <div class="user-panel">
            
            @if (Model != null)
            {

                if (Model.User != null)
                {
                    <p class="-capitalize -mini">@Model.User.FirstName @Model.User.LastName</p>
                }

                if (Model.Image != null)
                {
                    <div class="canvas">
                        <img src="@GfxHelper.User/@Model.Image.Url" />
                    </div>
                }
                else
                {
                    <div class="canvas">
                        <img src="~/Content/Images/Users/default_user.png" />
                    </div>
                }

            }

            <div class="drop-down">
                <div class="arrow"></div>

                @if (LocationHelper.Location.Equals("Home"))
                {
                    <a href="@Url.Action("Index", "Home")">
                        <div class="list-item">

                            <i class="fa fa-th-large -discrete"></i>
                            <p class="-capitalize -mini">Feed</p>

                        </div>
                    </a>
                    <a href="@Url.Action("Index", "Home")">
                        <div class="list-item">
                            <i class="fa fa-user -discrete"></i>
                            <p class="-capitalize -mini">Mitt konto</p>
                        </div>
                    </a>
                    <a href="@Url.Action("Index", "Home")">
                        <div class="list-item" id="create-competition">
                            <i class="fa fa-plus -discrete"></i>
                            <p class="-capitalize -mini">Skapa egen tävling</p>
                        </div>
                    </a>
                    <a href="#" id="sign-out">
                        <div class="list-item">
                            <i class="fa fa-lock -discrete"></i>
                            <p class="-capitalize -mini">Logga ut</p>
                        </div>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")">
                        <div class="list-item">
                            <i class="fa fa-th-large -discrete"></i>
                            <p class="-capitalize">Feed</p>
                        </div>
                    </a>
                    <a href="@Url.Action("Index", "Home")">
                        <div class="list-item">
                            <i class="fa fa-user -discrete"></i>
                            <p class="-capitalize">Mitt konto</p>
                        </div>
                    </a>
                    <a href="#" id="sign-out">
                        <div class="list-item">
                            <i class="fa fa-lock -discrete"></i>
                            <p class="-capitalize">Logga ut</p>
                        </div>
                    </a>
                }


            </div>

        </div>
    }
    else if (LocationHelper.Location.Equals("Start"))
    {

        

        <div class="login-field">
            <form>
                <input type="email" placeholder="Email" id="sign-in-email" />
                <input type="password" placeholder="Lösenord" id="sign-in-password" />

                <button class="button-primary -green" id="sign-in">
                    <p class="-mini color-white -capitalize" value="Logga in">
                        Logga in
                    </p>
                </button>
            </form>

        </div>
        
    }

</div>

