@using Services
@{
    ViewBag.Title = "Start"; 
    @Styles.Render("~/CssBundle/home")
}

<div id="home" class="row horizontal-scroll">
    

    <div class="col-lg">

        <h1>Mina tävlingar</h1>
        <br />

        <div class="block-m">
            
            <a href="@Url.Action("Index", "Contest")">
                <div class="competition">
                    <div class="competition-ghost"></div>

                    <div class="image-wrap">
                        <img src="@GfxHelper.Contest/wstreet.jpg" />
                    </div>

                    <div class="content">

                        <h3>Sesams aktietävling</h3>
                        <p class="-capitalize "> Pågår en vecka till</p>
                    </div>

                </div>
            </a>
        </div>

        <div class="block-m">

            <div class="competition">
                <div class="competition-ghost"></div>

                <div class="image-wrap">
                    <img src="@GfxHelper.Contest/oldfashioned.jpg" />
                </div>

                <div class="content">

                    <h3>Bästa investeraren</h3>
                    <p class="-capitalize "> Pågår en vecka till</p>
                </div>

            </div>

        </div>



    </div>

    <div class="col-lg">

        <h1>Mina prestationer</h1>
        <br />

        @for (var c = 0; c < 3; c++)
        {

            <div class="block-m">

                @for (var x = 0; x < 4; x++)
                {

                    

                    <div class="block-s">
                        <div class="competition">
                            @*<div class="competition-ghost"></div>*@
                        </div>
                    </div>

                }
            </div>
        }


    </div>

    <div class="col-lg vertical-scroll">

        <h1>Mina bevakningar</h1>
        <br />

        @for (var x = 0; x < 8; x++)
        {


            <div class="rectangular-block">

                <div class="block-s">
                    <div class="image-wrap">
                        <img src="~/Content/Images/Users/sherlock.jpg" />
                    </div>
                </div>

                <div class="block-s">
                    <p>Here follows text</p>
                </div>

            </div>
        }

    </div>

    <div class="col-lg">

        <h1>Other</h1>
        <br />

        <div class="rectangular-block">




        </div>

        <div class="rectangular-block">




        </div>

    </div>

</div>

@Html.Action("ContestControl", "Master", new { name = "CreateCompetition" })