<!DOCTYPE html>

<html>
    <head>

        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @* Styles *@
        @Styles.Render("~/CssBundle/css")
        @Styles.Render("~/CssBundle/fontawesome")
    
        @* Scripts *@
        @Scripts.Render("~/bundles/jquery")
    
        <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

        @Scripts.Render("~/bundles/master")

    </head>
<body>
    <!-- COPYRIGHT (c) Marcus Pihlquist & Jacob Ståhl -->

    @Html.Action("Menu", "Master")

    <div class="main-content">
        @*<div class="right-ghost"></div>*@
        @RenderBody()
    </div>

    

</body>
</html>
